#### Task 1: (Connect to the supplied petsDB, and write a function to check if the connection is done)

In [21]:
#import required library
import sqlite3

In [22]:
#connect function used to connect to the pets database.
#conn the main connection object 
conn = sqlite3.connect("petsdb")

In [23]:
# function to make sure the connection is successful
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [24]:
#test the connection
print(is_opened(conn))

True

In [25]:
#close the connection
conn.close()

### Task 2: (What are the different age groups in the persons database)

In [26]:
#create the connection again.
connection = sqlite3.connect("petsdb")

In [27]:
#cursor object.acts as a medium to communicate with the database.
c = connection.cursor()

In [28]:
#persons table has age column with many unique values(age) across all rows
#command below checks the total number of rows belonging to each group(age)
#GROUP BY retrieves distinct values from the database and places them in individual bucket.
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("We have {} people aged {}".format(ppl, age))

We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

#### Task 3: Which age group has maximum number of people?

In [29]:
#persons table has age column with many unique values(age) across all rows
#command below checks the total number of rows belonging to each group(age)
#GROUP BY clause  retrieves distinct values(age) from the database and places them in individual bucket.
#ORDER BY clasue sorts the records in and DESC order for descending order.
for ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Highest number of people {} came from {} age group".format(ppl, age))
    break

Highest number of people 5 came from 73 age group

#### Task 4: How many people do not have a full name (Last name is blank/null)

In [59]:
#WHERE is used to filter people who do no have a full name.
for row in c.execute("SELECT count(*) FROM persons WHERE last_name IS null"):
    print("{} people do not have last name.".format(row[0]))

60 people do not have last name.

#### Task 5: How many people has more than one pet?

In [65]:
#HAVING clause is used to provide the condition to count people with more than 1 pet.
for row in c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)"):
    print("{} people has more than one pet.".format(row[0]))

43 people has more than one pet.

#### Task 6: How many pets have received treaments?

In [63]:
#WHERE clause is used to filter pets who have received treatments.
for row in c.execute("SELECT count(*) FROM pets WHERE treatment_done=1"):
    print("{} pets have received treatments.".format(row[0]))

36 pets have received treatments.

#### Task 7: How many pets have received treatment that we know the type of?

In [62]:
#WHERE clause is used to know pets who had treatment and AND operator which displays a record if all the conditions separated.  
for row in c.execute("SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null"):
    print("{} pets have received treatment that we know of its type.".format(row[0]))

16 pets have received treatment that we know of its type.

#### Task 8: How many pets are there from the city called "east port"

In [61]:
#JOIN clause is used to combine rows from pets and persons tables, based on a related column id between them to find pets from east port city.
for row in c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'"):
    print("{} pets are from the city called 'east port'.".format(row[0]))

49 pets are from the city called 'east port'.

#### Task 9: How many pets are there from the city called "east port" and who received a treatment?

In [54]:
#JOIN clause is used to combine rows from pets and persons tables, based on a related column id between them to find pets from east port city.
#AND operator to know pets which has received treatment.
for row in c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1"):
    print("{} pets are from the city called 'east port' and has received a treatment.".format(row[0]))

11 pets are from the city called 'east port' and has received a treatment.